<h2 id="login">Log In To Your Account</h2>

<%= form_for :login do |f| %>

<form class="form-horizontal">
  <div class="form-group">

<div id="container">
<%= form_for :login do |f| %>

<div class="row">
<%= f.label :email %> <br>
<%= f.text_field :email %>
</div>

<div class="row">
<%= f.label :password %> <br>
<%= f.password_field :password %>
</div>
<br>
<div class="row">
<button type="button" class="btn btn-success" id='log'><%= f.submit 'Log In'  %></button>
</div>

<div class="row">
<h5>Don't Have An Account?</h5>
<button type="button" class="btn btn-primary"><%= link_to "Let's Change That", customers_new_path %></button>
</div>

</div>
<% end %>
<% end %>