<%= form_for @customer do |f| %>
<form class="form-horizontal">
  <div class="form-group">

	<div class="row">
	  <%= f.label :first_name %><br>
	  <%= f.text_field :first_name %>
	</div>
	
	<div class="row">
	  <%= f.label :last_name %><br>
	  <%= f.text_field :last_name %>
	</div>

	<div class="row">
	  <%= f.label :gender %><br>
	  <%= f.select :gender, options_for_select([["Select One", ""], "Male", "Female"]) %>
	</div>

	<div class="row">
	  <%= f.label :email %><br>
	  <%= f.text_field :email %>
	</div>

	<div class="row">
		<%= f.label :password%><br>
		<%= f.password_field :password %>
	</div>

	<div class="row">
		<%= f.label :password_confirmation %><br>
		<%= f.password_field :password_confirmation %>
	</div>

	<div class="row">
		<%=f.submit %>
	</div>
	</div>

	


<% end %>
