<%= form_for @customer do |f| %>
	<div class="jumbotron">

	<div class="row">
	<%= f.label :first_name %>
	<%= f.text_field :first_name, :class => "col-xs-10" %>
	</div>
	
	<div class="row">
	<%= f.label :last_name %>
	<%= f.text_field :last_name, :class => "col-xs-10" %>
	</div>

	<div class="row">
	<%= f.label :gender %>
	<%= f.select :gender, options_for_select([["Select One", ""], "Male", "Female"]), :class => "col-xs-10" %>
	</div>

	<div class="row">
	<%= f.label :email %>
	<%= f.text_field :email, :class => "col-xs-10" %>
	</div>

	<div class="row">
		<%= f.label :password%>
		<%= f.password_field :password, :class => "col-xs-10"%>
	</div>

	<div class="row">
		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation, :class => "col-xs-10" %>
	</div>

	<div class="row">
		<%=f.submit %>
	</div>

	


<% end %>
