<h1>Member Area</h1>

<h2>Hello, <%= @customer.first_name %>! What would you like to do?</h2>

<br>

<button><%= link_to 'Back', root_path %></button>

<br>

<% if current_customer === @customer %>
<button><%= link_to 'Edit', edit_customer_path(@customer) %></button>

<br>

<button><%= link_to 'Delete My Account', customer_path(@customer), method: :delete, data: {confirm: 'Are You Sure You Want To Leave Us? :('} %></button>

<% end %>

<br>

<% if @customer.products.count > 0 %>
<h3><%= @customer.first_name %>'s Products %</h3>
<ul>
	<% @customer.products.each do |product| %>
	<li><%= product.name %>: <%= product.quantity %> <%= product.price %></li>
</ul>

<hr>

<% end %>

<% if @customer.products.count > 0 %>
	<p>
	<strong> Products </strong>
	<% @customer.products.each do |product| %>
	<h1><%= product.name %></h1>
	<p><%= product.quantity %></p>
	<% end %>
  </p>
<% end %>


<% end %>
