<p id="notice"><%= notice %></p>

<h1>Our Coffee<small> The Finest, 100% Organic Blends</small></h1>
<div class="container-fluid">
<table class="table table-hover">
  <thead>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <tr>
      <th>Title</th>
      <th>Origin</th>
      <th>Quantity</th>
      <th>&nbsp&nbsp&nbspPrice</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<div class="sampler">
<img src="/Sampler.jpg" alt="Wolf's Head Coffee Sampler" height="400">
</div>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.country_of_origin %></td>
        <td>&nbsp&nbsp&nbsp&nbsp<%= product.quantity %></td>
        <td>&nbsp&nbsp$<%= product.price %></td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<button><%= link_to 'Subscribe', new_charge_path %></button>
<br>
<button><%= link_to 'Create An Account', customers_new_path %></button>
</div>
<br>
