<!DOCTYPE html>
<html>
<head>
  <title>WhCoffee</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>

<%= render 'layouts/nav' %>
<div class = 'container'>

<% if logged_in? %>
<h4>Hello, <%= current_customer.first_name %></h4>
<% end %>

<%= yield %>
<%= render 'layouts/params' %>

</body>
</html>
